* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #fff5fb;
    color: #333;
}

header {
    width: 100%;
    background: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
     
background:#fffefd;
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.7px);
-webkit-backdrop-filter: blur(2.7px);
border: 1px solid rgba(255, 255, 255, 0.48);

}

.logo {
    color: #ff69b4;
    font-size: 38px;
    font-family: 'Playfair Display', serif;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: 0.3s;
    font-size: 25px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ff69b4;
}

.projects {
    padding: 80px 5%;
    background: #fff5fb;
}

.project-container {
    max-width: 70%;
    margin: 20px;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 15px;
    align-items: center;
    justify-self: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.project-card {
    background: #ffffff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
    transition: 0.5s;
}

.project-card:hover {
    transform: translateY(-10px);
}

.project-card img {
    width: 100%;
}

.project-card h3 {
    padding: 20px 20px 10px;
}

.project-card p {
    padding: 0 20px 15px;
    text-align: justify;
}